@import "tailwindcss";

@layer utilities {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus {
    @apply bg-gray-100 text-black;
    -webkit-text-fill-color: #fff; 
    -webkit-box-shadow: 0 0 0px 1000px #181818 inset; 
    transition: background-color 5000s ease-in-out 0s;
  }   
}